@using AntDesign

<div class="fd-field-properties-panel h-100 ppp">
    <Tabs Animated>
        <TabPane Tab="Tab 1" Key="1">
            <ChildContent>
                <div class="d-flex flex-row fd-palette-header">
                    <div class="d-flex flex-column w-100 section-header">
                        <div class="section-header-title">
                            Widgets(工具箱)
                        </div>
                    </div>
                </div>
                <div class="fd-palette-widgets h-100 fd-scrollbar">
                    <div style="width: 100%;height: 10px;"></div>

                    @if (Widgets != null)
                    {
                        @foreach (var widget in Widgets)
                        {
                            <PaletteWidget WidgetItem="@widget" />
                        }
                    }
                    <div style="width: 100%;height: 25px;"></div>
                </div>
            </ChildContent>
        </TabPane>
        <TabPane Tab="Tab 2" Key="2">
            @* <TreeView Items="@(Get())" ShowCheckbox="true" /> *@
            <ChildContent>
                <AntDesign.Button OnClick="Query"></AntDesign.Button>
                <AntDesign.Tree DataSource="_datas" TItem="TreeComponentData"
                                TitleExpression="x=>x.DataItem.Name"
                                OnClick="OnClick"
                                ChildrenExpression="x=>x.DataItem.Items"
                                ></AntDesign.Tree>

            </ChildContent>
        </TabPane>
        <TabPane Tab="Tab 3" Key="3">
            <div class="fd-field-properties-panel h-100">角色</div>
        </TabPane>
    </Tabs>

</div>
@* <div class="d-flex flex-row h-100">
    <div class="d-flex flex-column fd-palette h-100">

    </div>
</div> *@


