

<div class="fd-field-properties-panel h-100 ppp">
    <Tab>
        <TabItem Text="工具箱">
            <div class="fd-palette-widgets">
                @if (Widgets != null)
                {
                    @foreach (var widget in Widgets)
                    {
                        <PaletteWidget WidgetItem="@widget" />
                    }
                }
            </div>
        </TabItem>
        <TabItem Text="菜单管理">
            <Button OnClick="Query">刷新</Button>
            <TreeView TItem="TreeComponentData" Items="@_datas" ShowCheckbox="true" ClickToggleNode="true" />
        @*     <AntDesign.Tree DataSource="_datas" TItem="TreeComponentData"
                            TitleExpression="x=>x.DataItem.Title"
                            OnClick="OnClick"
                            ChildrenExpression="x=>x.DataItem.Children"></AntDesign.Tree> *@

        </TabItem>
        <TabItem Text="角色">
            角色
        </TabItem>
    </Tab>
</div>



