

<div class="fd-field-properties-panel h-100 ppp">
    <Tab>
        <TabItem Text="工具箱">
            <Collapse>
                <CollapseItems>
                    <CollapseItem Text="普通控件" IsCollapsed="false">
                        @if (Widgets != null)
                        {
                            @foreach (var widget in Widgets)
                            {
                                <PaletteWidget WidgetItem="@widget" />
                            }
                        }
                    </CollapseItem>
                     <CollapseItem Text="容器控件">
                        早晚会有..
                     </CollapseItem>
                    <CollapseItem Text="图标控件">
                        早晚会有..
                    </CollapseItem>
                    <CollapseItem Text="交互控件">
                        早晚会有..
                    </CollapseItem>
                </CollapseItems>
            </Collapse>
            @*    <div class="fd-palette-widgets">

            </div> *@
        </TabItem>
        <TabItem Text="菜单管理">
            <Button OnClick="Query">刷新</Button>
            <TreeView TItem="TreeComponentData" Items="@_datas" ShowCheckbox="true" ClickToggleNode="true" />
            @*     <AntDesign.Tree DataSource="_datas" TItem="TreeComponentData"
            TitleExpression="x=>x.DataItem.Title"
            OnClick="OnClick"
            ChildrenExpression="x=>x.DataItem.Children"></AntDesign.Tree> *@

        </TabItem>
        <TabItem Text="角色">
            角色
        </TabItem>
    </Tab>
</div>



