@inherits LayoutComponentBase
<div class="designer">
<Layout IsPage="true" IsFixedHeader="true" IsFixedFooter="false" AdditionalAssemblies="new[] { GetType().Assembly}">
    <Header>
        <div class="dheader">Header</div>
    </Header>
    <Main >
        <div class="dmain">
            <CascadingValue Value="this" IsFixed="true">
                @Body
            </CascadingValue>
        </div>
    </Main>

</Layout>
</div>
@code {
    //
}
