@page "/"
<div style="height:100%">
<Tab Placement="Placement.Bottom">
    <TabItem Text="用户管理">
        <div>我是用户管理</div>
    </TabItem>
    <TabItem Text="菜单管理">
        <div style="height:100%"><Button OnClick="OnClick">点我</Button></div>
    </TabItem>
    <TabItem Text="角色管理">
        <div>我是角色管理</div>
    </TabItem>
    <TabItem Text="系统日志">
        <div>我是系统日志</div>
    </TabItem>
    <TabItem Text="登录日志">
        <div>我是部门管理</div>
    </TabItem>
    <TabItem Text="定时任务管理">
        <div>我是定时任务管理</div>
    </TabItem>
</Tab>
</div>
@code
{
    [Inject][NotNull]
    public TodoItemDatabase? database { get; set; }
    public async void OnClick()
    {
        // await Init();
        var items = await database.GetItemsAsync();
      await   database.SaveItemAsync(new TodoItem() {Name="adfasd" });
    }
}