@page "/counter"

@inject ISqlSugarClient db
@attribute [TabItemOption(Text = "Counter")]
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        //建表
      //  db.CodeFirst.InitTables(typeof(FunctionPage));

    }
}
