@page "/counter"
@using System.Net.Http.Json;

@*@inject ISqlSugarClient db*@
@inject IHttpClientFactory HttpClientFactory
@attribute [TabItemOption(Text = "Counter")]
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Current count: @_statusCode</p>
@*<BootstrapInput TValue="string" OnEnterAsync="OnEnterAsync"></BootstrapInput>*@
<Button OnClick="OnEnterAsync">qiunasf</Button>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string _statusCode = "";
    public async Task OnEnterAsync()
    {
        await Task.Delay(100);
        ;
        var httpClient = HttpClientFactory.CreateClient(name: "HttpClient");
        try
        {//<string>("api/test/hello");
            var res = await httpClient.GetStringAsync("/api/test/hello");
            _statusCode = res;
        }
        catch (Exception ex)
        {
            _statusCode = ex.Message;
            var ss = ex;
        }
        StateHasChanged();
        //var _statusCode = result.StatusCode.ToString();

    }
    private void IncrementCount()
    {
        //建表
        //  db.CodeFirst.InitTables(typeof(FunctionPage));
        currentCount++;
    }
}
