<div class="border h-100 designer-panel">
    <Tab>
        <TabItem Text="工具箱">
            <ChildContent>
                <Collapse>
                    <CollapseItems>
                        <CollapseItem Text="普通控件">
                            <Button>啊手动阀</Button>
                            <Button>啊手动阀</Button>
                        </CollapseItem>
                        <CollapseItem Text="容器控件" IsCollapsed="false">
                            <Button>啊手动阀</Button>
                        </CollapseItem>
                    </CollapseItems>
                </Collapse>
            </ChildContent>
        </TabItem>
        <TabItem Text="备用">
            <Collapse>
                <CollapseItems>
                    <CollapseItem Text="普通控件">
                        <Button>啊手动阀</Button>
                        <Button>啊手动阀</Button>
                    </CollapseItem>
                    <CollapseItem Text="容器控件">
                        <Button>啊手动阀</Button>
                    </CollapseItem>
                </CollapseItems>
            </Collapse>
        </TabItem>
        <TabItem Text="备用">
            <Collapse>
                <CollapseItems>
                    <CollapseItem Text="普通控件">
                        <Button>啊手动阀</Button>
                        <Button>啊手动阀</Button>
                    </CollapseItem>
                    <CollapseItem Text="容器控件">
                        <Button>啊手动阀</Button>
                    </CollapseItem>
                </CollapseItems>
            </Collapse>
        </TabItem>

    </Tab>
</div>
@code {

}
