<div class="border h-100">
<Tab>
    <TabItem Text="角色">
        <div >角色</div>
    </TabItem>
    <TabItem Text="角色">
            <div>角色</div>
    </TabItem>
    <TabItem Text="角色">
            <div>角色</div>
    </TabItem>
</Tab>
</div>
@code {

}
