<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Ufo.Auto.styles.css" />
    @* AntDesigner *@
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>


    @* <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css"> *@
    <link rel="stylesheet" href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/css/motronic.min.css">
    <link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />

    @* <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css"> *@
    <link rel="stylesheet" href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/css/motronic.min.css">
    @* <link rel="stylesheet" href="_content/Ufo.Auto.Client/css/site.css"> *@
    @* <link rel="stylesheet" href="_content/RM.Shared/css/motronic.css"> *@

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="css/site.css" rel="stylesheet" />
    <link href="css/motronic.css" rel="stylesheet" />
    <!--Custom css files-->
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/layout.css" rel="stylesheet" />
    <link href="css/toolbar.css" rel="stylesheet" />
    <link href="css/general.css" rel="stylesheet" />
    <link href="css/palette.css" rel="stylesheet" />
    <link href="css/field-properties.css" rel="stylesheet" />

    <link href="css/whiteboard/component.css" rel="stylesheet" />
    <link href="css/whiteboard/container.css" rel="stylesheet" />
    <link href="css/whiteboard/drag-drop.css" rel="stylesheet" />
    <link href="css/whiteboard/tabs.css" rel="stylesheet" />


    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <!--Cutom JS Libraries-->
    <script src="js/form-designer.js"></script>

    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>

</body>

</html>
