$Select-color: blue;//被选中后边框颜色
/*designer*/
.content {
    display: flex;
}

/*.left {
    flex: 1;
}

.middle {
    flex: 2;
    height: 100%;
}

.right {
    flex: 1;
    max-height: 100%;
    border: 2px solid black;
}*/

/*.dragbox {
    cursor: pointer;
}*/

.selected {
    border: 2px solid $Select-color;
}
/*designer*/
/*重写BootstarpBlazor库的样式*/
.bb .tabs .tabs-body {
    padding: 0;
    margin: 0;
}
.input-n {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    .form-label {
        margin: 0;
    }
}
.PropPanel {
    overflow: auto;
    .accordion-body{
        padding:5px;
    }
}