//开启sass编译监控: sass --watch . --no-source-map
$Select-color: blue; //被选中后边框颜色
/*designer*/
.content {
    display: flex;
}
.selected {
    border: 2px solid $Select-color;
}
/*designer*/
/*重写BootstarpBlazor库的样式*/
.bb .tabs .tabs-body {
    padding: 0;
    margin: 0;
}
//自定义容器
.over-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    .form-label {
        margin: 0;
    }

    .switch-core{
        width:60px !important;
    }
}

.PropPanel {
    overflow: auto;

    .accordion-body {
        padding: 5px;
    }
}
//所有页面中,重写listview
.total-pages {
    .listview .listview-body {
        display: block;
    }

    .listview-item {
        width: 20%;
    }
}
.main{
    height:100%;
    position:relative;
    overflow:auto;
   
}
