@charset "UTF-8";
/*designer*/
.content {
  display: flex;
}

.selected {
  border: 2px solid blue;
}

/*designer*/
/*重写BootstarpBlazor库的样式*/
.bb .tabs .tabs-body {
  padding: 0;
  margin: 0;
}

.over-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.over-input .form-label {
  margin: 0;
}
.over-input .switch-core {
  width: 60px !important;
}

.PropPanel {
  overflow: auto;
}
.PropPanel .accordion-body {
  padding: 5px;
}

.total-pages .listview .listview-body {
  display: block;
}
.total-pages .listview-item {
  width: 20%;
}

.main {
  height: 100%;
  position: relative;
  overflow: auto;
}
