@page "/counter"
@using Models
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<div class="aaa">asdf</div>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<div class="container">
    <CascadingValue Value="ComponentDto" Name="Root">
        <Component MainStateHasChanged="MainStateHasChanged" ComponentDto="ComponentDto" Parent="ComponentDto"></Component>
    </CascadingValue>
</div>

@code {
    private int currentCount = 0;
    public ComponentDto? ComponentDto { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ComponentDto = new ComponentDto()
            {
                ComponentType = ComponentType.Container,
                Name = "第一个容器",
                Child = new List<ComponentDto>()
                     {
                         new ComponentDto(){
                                    ComponentType= ComponentType.Row,
                                    Name="panel1",
                                    Child=new List<ComponentDto>(){
                                            new ComponentDto(){
                                                Name="按钮1",
                                                FlexInfo=new FlexInfo(){ ColCount="col-3" },
                                                ComponentType= ComponentType.Button},
                                            new ComponentDto(){
                                                 Name="按钮2",
                                                 FlexInfo=new FlexInfo(){ ColCount="col-2" },
                                                ComponentType= ComponentType.Button},
                                            new ComponentDto(){
                                                 Name="panel2",
                                                 FlexInfo=new FlexInfo(){ ColCount="col-5" },
                                                ComponentType= ComponentType.Row,
                                                Child=new List<ComponentDto>(){
                                                    new ComponentDto() {
                                                        Name="btn3",
                                                        ComponentType= ComponentType.Button },
                                                    new ComponentDto() {
                                                        Name="btn4",
                                                        ComponentType= ComponentType.Button }
                                                                                } },
                         new ComponentDto(){ ComponentType= ComponentType.Button}
                     } },
                         new ComponentDto(){ComponentType= ComponentType.Row,
                             Child=new List<ComponentDto>(){
                                new ComponentDto(){ ComponentType= ComponentType.Button},
                                new ComponentDto(){ ComponentType= ComponentType.Button} } },
                         new ComponentDto(){ ComponentType= ComponentType.Button},
                         new ComponentDto(){ ComponentType= ComponentType.Button},
                     }

            };
        ComponentDto.MainStateHasChanged = MainStateHasChanged;

    }
    private void IncrementCount()
    {
        currentCount++;
    }
    public void MainStateHasChanged()
    {
        StateHasChanged();
    }
}
