@using System.Diagnostics.CodeAnalysis
@using Models
@* <div class="container"> *@
    @if (ComponentDto.Child != null)
    {
        @foreach (var item in ComponentDto.Child)
        {
            <Component ComponentDto="item" Parent="ComponentDto"></Component>
         @*    switch (item.ComponentType)
            {
                case ComponentType.Panel:
                    <ExPanel ComponentDto="item" Parent="ComponentDto"></ExPanel>
                    break;
                case ComponentType.Button:
                    <ExButton ComponentDto="item" Parent="ComponentDto"></ExButton>
                    break;
                default:
                    <input type="text" id="@Guid.NewGuid()" />
                    break;
            } *@
        }
    }


@* </div> *@

@code {
    [Parameter]
    [NotNull]
    public ComponentDto? ComponentDto { get; set; }
}
