@inherits LayoutComponentBase
<Layout>
    <Header>
        <div class="dheader">Header</div>
    </Header>
    <Main>
        <div class="dmain">
            <CascadingValue Value="this" IsFixed="true">
                @Body
            </CascadingValue>
        </div>
    </Main>

</Layout>
@code {

}
