@page "/"
@using Models.NotEntity
@using Models.System
@using Ufo.Auto.Client.Services.Base
@inject ICrudBase<Company> CompanyServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
@app
<Button OnClick="async()=>{

res=await

CompanyServer.Insert(null);}"></Button>
<br />
数据是:
@app
@res.Data
Welcome to your new app.
@code {
    [CascadingParameter]
    public string app { get; set; }
    public Result<int> res { get; set; } = new Result<int>() { Data = -1 };

    protected override async Task OnInitializedAsync()
    {
       
        // res = await CompanyServer.Insert(null);
        await base.OnInitializedAsync();
    }
}
