@page "/functionpage"
@    using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject ICrudBase<FunctionPage> CompanyServer
<h3>FunctionPage</h3>
<Table ShowToolbar="true"  TItem="FunctionPage" OnSaveAsync="OnSaveAsync" OnQueryAsync="OnQueryAsync" AutoGenerateColumns="true"></Table>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        tong guo 
    </Authorized>
    <NotAuthorized>
        mei tong guo 
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
@code {
    public async Task<bool> OnSaveAsync(FunctionPage fp, ItemChangedType t)
    {
        var res= await CompanyServer.Insert(fp);
        if (res.IsSucceeded)
        {
            return true;
        }
        return false;
    }
    public async Task<QueryData<FunctionPage>> OnQueryAsync(QueryPageOptions a)
    {
        var res =await CompanyServer.SelectAll();
        return new QueryData<FunctionPage>()
            {
                TotalCount = res.Data.Count,
                IsSorted = true,
                IsFiltered = true,
                IsSearch = true,
                Items = res.Data
            };

    }

}
