@page "/test"
@* @rendermode InteractiveAuto *@
<h3>Test</h3>
 
<Button OnClick="OnClick">提示</Button>
@* </div> *@
@code {
    [Inject]
    [NotNull]
    private ToastService? ToastService { get; set; }
    public async Task OnClick()
    {
        await ToastService.Success("Title", "Content", autoHide: true);
    }
}
