@page "/test"
@rendermode InteractiveServer
<h3>Test</h3>
@* <div class="fd-field-properties-panel h-100 ppp"> *@

    <Tab >
        <TabItem Text="控件属性">
        <div class="fd-field-properties-panel h-100">角色4</div>
        </TabItem>
        <TabItem Text="菜单管理">
            @* <TreeView Items="@(Get())" ShowCheckbox="true" /> *@
            <div class="fd-field-properties-panel h-100">角色2</div>

        </TabItem>
        <TabItem Text="角色">
            <div class="fd-field-properties-panel h-100">角色</div>
        </TabItem>
    </Tab>

@* </div> *@
@code {

}
