@page "/counter"
@using BootstrapBlazor.Components
@using Models

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<img src="_content/Shared/3.png" />
<p role="status">Current count: @currentCount</p>
@CompanyGroup.Name
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<Tab>
    <TabItem Text="用户管理">
        <div>我是用户管理</div>
    </TabItem>
    <TabItem Text="菜单管理">
        <div>我是菜单管理</div>
    </TabItem>
    <TabItem Text="角色管理">
        <div>我是角色管理</div>
    </TabItem>
    <TabItem Text="部门管理">
        <div>我是部门管理</div>
    </TabItem>
</Tab>
@code {
    private int currentCount = 0;
    [CascadingParameter]
    public CompanyGroup CompanyGroup { get; set; }
    private void IncrementCount()
    {
        currentCount++;
    }
}
