@page "/debug"
@layout EmptyLayout
<div style="height:100%">
    <Tab Placement="Placement.Bottom">
        <TabItem Text="用户管理">
            <div>我是用户管理</div>
        </TabItem>
        <TabItem Text="菜单管理">
            <div style="height:100%"><Button >点我</Button></div>
        </TabItem>
        <TabItem Text="角色管理">
            <div>我是角色管理</div>
        </TabItem>
        <TabItem Text="系统日志">
            <div>我是系统日志</div>
        </TabItem>
    </Tab>
</div>
@code
{
 
}