@page "/"
@using Models.Dto.SVG
@using Models.NotEntity
@using Models.Services.Base
@using Shared.AuthenticationStateCustom
@inject ICrudBase<User> userdb
@inject IAuthService auth
@inject ISqlSugarClient db
<PageTitle>Home</PageTitle>

<Button OnClick="OnClick">测试</Button>
<Button OnClick="OnClick2">泛型测试</Button>
<BootstrapInput @bind-Value="meg"></BootstrapInput>
<AuthorizeView>
    <Authorized>
        登录成功,欢迎欢迎
    </Authorized>
    <NotAuthorized>
        你没有登录哦
    </NotAuthorized>
</AuthorizeView>
@code
{
    public string meg { get; set; } = "请输入通知消息";
    [Inject]
    [NotNull]
    private IDispatchService<Msg>? DispatchService { get; set; }
    [CascadingParameter(Name = "router")]
    public SysModule? SysModule { get; set; }
    public async void OnClick2(MouseEventArgs e)
    {
        DispatchService.Dispatch(new DispatchEntry<Msg>() { Entry = new Msg() { Message = meg } });
        await Task.Delay(300);
    }

    public async void OnClick(MouseEventArgs e)
    {
        
        DispatchService.Dispatch(new DispatchEntry<Msg>() { Entry = new Msg() { Message = meg } });
        await Task.Delay(300);
    }

}