@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
@if (SysModule != null && SysModule.Name!=null)
{
    @SysModule.Name
}
<Button OnClick="Test">Test</Button>
Welcome to your new app.
@code
{
    [CascadingParameter(Name = "router")]
    public Models.System.SysModule? SysModule { get; set; }

    public void Test()
    {

        SysModule.Name = "Home"+DateTime.Now.ToString();
    }
}