@page "/"
@using Shared.AuthenticationStateCustom
@inject IAuthService auth
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<AuthorizeView>
    <Authorized>
        tong guo
    </Authorized>
    <NotAuthorized>
        mei tongguo
    </NotAuthorized>
</AuthorizeView>
@if (SysModule != null && SysModule.Name != null)
{
    @SysModule.Name
}

Welcome to your new app.
@code
{
    [CascadingParameter(Name = "router")]
    public Models.System.SysModule? SysModule { get; set; }

  
}