@page "/login"
@layout Designer
@inject IAuthService auth
@inject NavigationManager go
<h3>Login(直接以访客的方式登录)</h3>
<BootstrapInput TValue="string" @bind-Value="UserDto.SysName" ShowLabel="true" DisplayText="用户名"></BootstrapInput>
<BootstrapInput TValue="string" @bind-Value="UserDto.PassWord" ShowLabel="true" DisplayText="密码"></BootstrapInput>
<Button OnClick="Log">登录</Button>
<Button OnClick="Louut">注销</Button>
<Button OnClick="Register">注册</Button>
@code {
    [Inject]
    [NotNull]
    private ToastService? ToastService { get; set; }
    public Models.Dto.UserDto UserDto { get; set; } = new() { SysName="guest",PassWord="1",RealName=""};
    public async void Log()
    {
        var res = await auth.SignInAsync(UserDto);
        if (res.IsSucceeded)
        {
            go.NavigateTo("/", true);
        }
        else
        {
            await ToastService.Success("提示", "登录失败", autoHide: true);
        }

    }
    public async void Louut()
    {
        await auth.SignOutAsync();
        go.NavigateTo("/", true); 
    }
    public async void Register()
    {
        var res = await auth.Register(UserDto);
        if (res.IsSucceeded)
        {
            go.NavigateTo("/", true);
        }
        else
        {
            await ToastService.Success("提示", "注册失败", autoHide: true);
        }

    }
}
