@page "/pagetest"
@using Models
@using Models.Services.Base
@inject ICrudBase<SysModule> db
<h3>PageTest</h3>
@CompanyGroup.Name
<button @onclick="test"></button>
@code {
    [CascadingParameter]
    public CompanyGroup CompanyGroup { get; set; }
    public void test()
    {
        db.Insert(new SysModule() {  Name="asfdasdf"});
    }
}
