@page "/runing/{id}"
<h3>Runing @id</h3>
@if (FunctionPage != null && FunctionPage.Name != null)
{
    @FunctionPage.Name
}
<Button OnClick="()=>{}">asfd</Button>
@code {
    [Parameter]
    public string id { get; set; } = "-1";
    public FunctionPage? FunctionPage { get; set; }
    [CascadingParameter(Name = "router")]
    public Models.System.SysModule? SysModule { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    protected override Task OnParametersSetAsync()
    {
        FunctionPage = SysModule?.Find(id.ToString());
        return base.OnParametersSetAsync();
    }

}
