@page "/SysModuleManger"

<Table TItem="Module"
       IsPagination="true" PageItemsSource="new int[]{20,10,30}"
       IsStriped="true" IsBordered="true" IsMultipleSelect="true"
       IsExtendButtonsInRowHeader="false" AutoGenerateColumns="true"
       ShowToolbar="true" ShowExtendButtons="true" ShowSkeleton="true"
       OnQueryAsync="@OnQueryAsync"
       OnAddAsync="@OnAddAsync"
       OnSaveAsync="@OnSaveAsync"
       OnDeleteAsync="@OnDeleteAsync">
    <TableColumns>
    </TableColumns>
    <BeforeRowButtonTemplate Context="value">
        <TableCellButton OnClick="()=>{OnClick(value.Id);}">添加功能组</TableCellButton>
    </BeforeRowButtonTemplate>
</Table>

@code {
    [Inject]
    [NotNull]
    public ISqlSugarClient? db { get; set; }
    [Inject]
    [NotNull]
    private DialogService? DialogService { get; set; }
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
    public void OnClick(long id)
    {
        DialogService.ShowModal<UpdateFuncGroupForSysModule>(new ResultDialogOption()
            {
                ComponentParameters = new Dictionary<string, object>
                {
                    [nameof(UpdateFuncGroupForSysModule.Id)] = id,
                }
            });
    }
    private Task<Module> OnAddAsync()
    {
        return Task.FromResult(new Module() {});
    }

    private async Task<QueryData<Module>> OnQueryAsync(QueryPageOptions options)
    {
        var item = await db.Queryable<Module>().ToListAsync();
        return new QueryData<Module>()
            {
                Items = item,
                TotalCount = item.Count,
            };
    }
    private async Task<bool> OnDeleteAsync(IEnumerable<Module> items)
    {
        var res = await db.Deleteable<Module>(items).ExecuteCommandAsync();
        return res > 0 ? true : false;
    }
    private async Task<bool> OnSaveAsync(Module item, ItemChangedType changedType)
    {
        if (changedType == ItemChangedType.Add)
        {
            await db.Insertable(item).ExecuteReturnSnowflakeIdAsync();
        }
        else
        {
            await db.Updateable(item).ExecuteCommandAsync();
        }
        return true;
    }
}

