@page "/flow-designer"
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Core.Anchors
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Core.PathGenerators
@using Blazor.Diagrams.Core.Routers
@using Blazor.Diagrams.Options
@using Mapster
@using Models.Dto.SVG
@* @layout Designer *@
@inject HttpClient Http

<PageTitle>Weather</PageTitle>
<div  style="width:50vw;height:50vh;position:relative">
    @* <Shared.Page.SVG.MyDiagram Diagram="Diagram"></Shared.Page.SVG.MyDiagram> *@
        <CascadingValue Value="Diagram" >
        <DiagramCanvas>
      @*       <AdditionalHtml>
                <!-- EXTRA HTML -->
                <p>nihao</p>
            </AdditionalHtml> *@
        </DiagramCanvas>
    </CascadingValue>
</div>

<Button OnClick="OnClick">update</Button>


