@page "/WorkFlowDesigner"
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets
@using Blazor.Diagrams.Core.Anchors
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.PathGenerators
@using Blazor.Diagrams.Core.Routers
@using Blazor.Diagrams.Models
@using Models.Dto.SVG
@using Shared.Components.Svg
<CascadingValue Value="this" Name="Root">
    <div style="height:100%;width:100%;display:flex">
        @if (1 == 1)
        {
            <div class="dmain-left" style="width:20%">
                @* <div class="fd-field-properties-panel h-100 ppp"> *@
                <Tab>
                    <TabItem Text="模板清单">
                        <Table TItem="WorkFlowTemplate"
                               ShowExtendButtons="true" ShowExtendEditButton="true"
                               ShowToolbar="true"
                               ClickToSelect="true"
                               IsExtendButtonsInRowHeader="true"
                               IsStriped="true" IsBordered="true" IsMultipleSelect="false"
                               OnSaveAsync="OnSaveAsync"
                               OnQueryAsync="OnQueryAsync"
                               OnAddAsync="OnAddAsync"
                               OnDeleteAsync="OnDeleteAsync"
                               OnClickRowCallback="OnClickRowCallbackProduct"
                               AutoGenerateColumns="true">
                        </Table>
                    </TabItem>
                    <TabItem Text="设计器">
                        <div class="fd-palette-widget text-center draggable" draggable="true">
                            <div style="pointer-events:none;">
                                <i class="fas fa-car-on" style="font-size:40px;color:red;"></i>
                                <h5 class="fd-palette-widget-label">节点</h5>
                            </div>
                        </div>
                        <div>
                        @if (SelectedNode != null)
                        {
                            <BootstrapInput TValue="string" @bind-Value=@SelectedNode.Title OnValueChanged="OnChangeString" UseInputEvent="true" ShowLabel="true" DisplayText="流程名"></BootstrapInput>
                            <BootstrapInput TValue="string"  OnValueChanged="OnChangeString" ShowLabel="true" DisplayText="流程详情"></BootstrapInput>
                            <Button OnClick="SaveSelect">保存</Button>
                        }
                        </div>
                    </TabItem>
                   
                </Tab>
                @* </div> *@
            </div>
        }
        <div class="dmain-main" style="width:80%">
            @if (WorkFlowTemplate != null)
            {
                <div class="container-content" ondragover="event.preventDefault();" @ondragover:preventDefault @ondrop="OnDrop">
                    <CascadingValue Value="_blazorDiagram">
                        <DiagramCanvas>
                            <Widgets>
                                <SelectionBoxWidget />
                            </Widgets>
                        </DiagramCanvas>
                    </CascadingValue>
                </div>
            }
        </div>

    </div>
</CascadingValue>


