@using Shared.Designer.FieldProperties
@using Shared.Designer.Palette
@using Shared.Designer.Whiteboard

<CascadingValue Value="this" Name="Root">
<CascadingValue Value="StateHasChangedOnContainer" >
    @* <div class="container-full"> *@
    @* <div class="designer-row"> *@
    @if (IsDesigner)
    {
        <div class="dmain-left">
            <PalettePanel ContainerData="FunctionPage.ContainerData" />
        </div>
    }
    <div class="dmain-main">
        <div class="container-content"
             @onclick="@(async () => await SelectComponentAsync(null))"
             @onclick:stopPropagation="true">
            <CascadingValue Value="FunctionPage.ContainerData" Name="RootContainer">
                <Container ContainerData="FunctionPage.ContainerData" IsDesigner="IsDesigner"
                           OnClickCallback="@(async (e) =>
                           await SelectContainerAsync(FunctionPage.ContainerData))" />
            </CascadingValue>
        </div>
        <div class="container-msg">
            @switch (FunctionPage.ShowMsgType)
            {
                case ShowMsgType.None:
                    break;
                case ShowMsgType.Console:
                    <Console ShowLight="false" Items="ColorMessages" HeaderText="消息"></Console>
                    break;
                case ShowMsgType.ConsoleBox:
                    <ConsoleLogger @ref="NormalLogger" class="mt-3" />
                    break;
                case ShowMsgType.Toast:
                    break;
                case ShowMsgType.SweetAlert:
                    break;
                default:
                    break;
            }
        </div>
    </div>
    @if (IsDesigner)
    {
        <div class="dmain-right">
            @*        <Button OnClick="Test">
        阿凡达
        </Button> *@
            <FieldPropertiesPanel />
        </div>
    }
    @* </div> *@
    @* </div> *@
    </CascadingValue>
</CascadingValue>


