
@inject IJSRuntime JSRuntime

<section class="component-mover component-caption">
    <span style="margin-left:4px;">@Component.ComponentType.GetName()</span>

    @if (IsMoveLeftVisible())
    {
        <MatIconButton Icon="@MatIconNames.Arrow_back"
                       OnClick="MoveLeftAsync"
                       OnClickStopPropagation="true"
                       Class="component-mover-icon"
                       title="Move Left" />
    }

    @if (IsMoveRightVisible())
    {
        <MatIconButton Icon="@MatIconNames.Arrow_forward"
                       OnClick="MoveRightAsync"
                       OnClickStopPropagation="true"
                       Class="component-mover-icon"
                       title="Move Right" />
    }

    <MatIconButton Icon="@MatIconNames.Cancel"
                   OnClick="OnDeleteAsync"
                   OnClickStopPropagation="true"
                   Class="component-mover-icon"
                   title="Delete" />
</section>


