@inherits CfgBase<axisLine>
<div class="cfg">
    <div class="over-input">
        <Switch @bind-Value="IsShow" OnValueChanged="OnValueChanged" DisplayText="@DisplayText" ShowLabel="true" ShowInnerText="true"  OffInnerText="默认值" OnInnerText="详情"></Switch>
    </div>
    @if (IsShow && Value != null)
    {
        <BoolCfg @bind-Value="Value.show" DisplayText="是否显示:"></BoolCfg>
    }
</div>
@code {
    public override string DisplayText { get; set; } = "轴线配置";
    async Task OnValueChanged(bool val)
    {
        if (val)
        {
            if (Value == null)
            {
                ValueHander = new();
                Update();
            }
        }
        else
        {
            ValueHander = null;
            Update();
        }
        await Task.CompletedTask;
    }
}
