@typeparam T where T : Enum
@inherits CfgBase<JsVal?>
<div class="cfg">
    <div class="over-input">
        <Switch @bind-Value="IsShow" DisplayText="@DisplayText" ShowLabel="true" ShowInnerText="true"
                OnValueChanged="ShowChanged"
                OffInnerText="默认值" OnInnerText="自定义"></Switch>
        @if (IsShow && ValueHander != null)
        {
            <MultiSelect @bind-Value="@SelectedEnumValues" OnSelectedItemsChanged="OnSelectedItemsChanged" />
        }
        <PopConfirmButton Size="Size.ExtraSmall" Placement="Placement.Top"
                          Color="Color.Secondary"
                          ConfirmIcon="fa-solid fa-triangle-exclamation text-danger"
                          ConfirmButtonColor="Color.Secondary"
                          OnConfirm="DefaultValue"
                          Text="默认"
                          Content="确认恢复默认值?" />
        <Tooltip Title="@HelpInfo" CustomClass="is-invalid">
            <i style="color:@IsOk()" class="fas fa-circle-question" />
        </Tooltip>
    </div>
</div>
@code {
    public List<SelectedItem> Items { get; set; } = new List<SelectedItem>();
    public List<T> SelectedEnumValues { get; set; } = new();
    private SelectedItem SelectedItem = new SelectedItem();
    [Parameter, EditorRequired]
    public List<JsType> JsTypes { get; set; } = new();
    public string IsOk()
    {
        return ValueHander == null ? "green" : ValueHander.IsOk() ? "green" : "black";
    }
    protected override Task OnInitializedAsync()
    {

        if (Value != null)
        {   //未实现,因为不好反序列化回来
            var sss = Value.RAW.Replace("[", "").Replace("]", "").Replace("\\", "").Replace("\"", "").Replace(" ", "");
            string[] stringValues = sss.Split(',');

            var enumType = typeof(T);
            foreach (var stringValue in stringValues)
            {
                if (Enum.TryParse(enumType, stringValue, out object? enumValue))
                {
                    SelectedEnumValues.Add((T)enumValue);
                }
            }
        }

        return base.OnInitializedAsync();
    }
    async Task OnSelectedItemsChanged(IEnumerable<SelectedItem> items)
    {
        if (ValueHander != null)
        {
            ValueHander.RAW = JsonSerializer.Serialize(items.Select(x => x.Value));
            Update();
           
        }
        await Task.CompletedTask;
    }
    // private async Task OnItemChanged(IEnumerable<SelectedItem> values, SelectedItem val)
    // {
    //     if (val.Text == "自定义")
    //     {
    //         if (ValueHander == null)
    //         {
    //             Value = new JsFuncNumString("") { };
    //         }
    //     }
    //     else
    //     {
    //         ValueHander = null;
    //     }
    //     await Task.CompletedTask;
    // }
    /// <summary>
    /// 控制用默认值还是自定义,如果自定义会show自定义界面
    /// </summary>
    /// <param name="val"></param>
    /// <returns></returns>
    async Task ShowChanged(bool val)
    {
        if (val)//选中默认
        {
            ValueHander = new JsVal(JsType.Array);
        }
        else
        {
            ValueHander = null;
            Update();
        }
        await Task.CompletedTask;
    }
    /// <summary>
    ///
    /// </summary>
    /// <param name="val"></param>
    /// <returns></returns>
    async Task OnValueChangedForRaw(string val)
    {
        if (Value != null)
        {
            //todu  应该要判断值是否合法
            var obj = new JsVal(val, Value.JsType);
            if (obj.IsOk())
            {
                ValueHander = obj;
                IsSucessed = "Green";
                Update();
            }
            else
            {
                IsSucessed = "black";
                await Msg.Warning("失败", "输入的值不正确,请检查");
            }
        }
  
        await Task.CompletedTask;
    }
    async Task OnValueChangedForRawNum(decimal val)
    {
        if (Value != null)
        {
            //todu  应该要判断值是否合法
            var obj = new JsVal(val.ToString(), Value.JsType);
            if (obj.IsOk())
            {
                ValueHander = obj;
                IsSucessed = "Green";
                Update();
            }
            else
            {
                IsSucessed = "black";
                await Msg.Warning("失败", "输入的值不正确,请检查");
            }
        }
     
        await Task.CompletedTask;
    }
    async Task OnValueChangedForRawBool(bool val)
    {
        if (Value != null)
        {
            //todu  应该要判断值是否合法
            var obj = new JsVal(val.ToString(), Value.JsType);
            if (obj.IsOk())
            {
                ValueHander = obj;
                IsSucessed = "Green";
                Update();
            }
            else
            {
                IsSucessed = "black";
                await Msg.Warning("失败", "输入的值不正确,请检查");
            }
        }
  
        await Task.CompletedTask;
    }
    async Task<bool> OnBeforeSelectedItemChange(SelectedItem val)
    {
        //判断选中的是否在JsTypes中
        await Task.Delay(10);
        var ss = Enum.Parse<JsType>(val.Value);
        if (Value != null)
        {
            if (JsTypes.Contains(ss))
            {
                return false;
            }
            else
            {
                return true;
            }
        }
        return true;

    }
    async Task OnSelectedItemChanged(SelectedItem val)
    {
        //判断当值的值是不是合法的
        if (Value != null)//一定会进来
        {
            switch (Value.JsType)
            {
                case JsType.Num:
                    Value.RAW = "0";
                    break;
                case JsType.String:
                    Value.RAW = "";
                    break;
                case JsType.Object:
                    Value.RAW = "{}";
                    break;
                case JsType.Array:
                    Value.RAW = "[]";
                    break;
                case JsType.Function:
                    Value.RAW = "function(value) {return value.min - 20;}";
                    break;
            }
            ValueHander = Value;
            IsSucessed = "green";
        }
      
        await Task.CompletedTask;
    }
}
