.port:hover {
    fill: black;
}
.port {
    fill: transparent ;
/*    stroke-opacity:0;
    fill-opacity:0;*/
}


/*.gingerbread {
    width: 120px;
    height: 50px;
}
.gingerbread .body {
    fill: #cd803d;
   
}

.gingerbread .eye {
    fill: white;
}

.gingerbread .mouth {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}

.gingerbread .limb {
    stroke: #cd803d;
    stroke-width: 35px;
    stroke-linecap: round;
}

.gingerbread .hand {
    fill: #cd803d;
}

    .gingerbread .hand:hover {
        fill: #75441a;
    }
*/